body {
  background: #333;
  color: white;
  text-align: center;
}
h1 {
  font-family: "Roboto", sans-serif;
}

#random {
  color: #6fcb70;
}

code {
  background: #f8f8ff;
  padding: 6px;
  font-family: "Source Code Pro", monospaced;
}

button {
  outline: none;
  border: 1px solid transparent;
  background: #4f9d69;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #68d89b;
}

#output {
  font-size: 25px;
  color: #777;
  text-align: center;
  border-radius: 4px;
}
